body {
    background-color: whitesmoke;
}

#center {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


#logo { 
    position: relative;
    /* top: -300px; */
    left: 27.5%;
    width: 50%;
}

#in_box {
    position: relative;
    /* top: -250px; */
    left: 32.5%;
    width: 150%;
}


#entry {
    width: 25%;
}

#button {
    width: 15%;
}

username {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    position: relative;

}

password {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    position: relative;

   
}

submit {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;


}